@font-face
{
    font-family: 'Merriweather-Italic';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Merriweather-Italic.woff') format('woff'), url('../fonts/Merriweather-Italic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Merriweather-Bold';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Merriweather-Bold.woff') format('woff'), url('../fonts/Merriweather-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Merriweather-Light';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Merriweather-Light.woff') format('woff'), url('../fonts/Merriweather-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'Merriweather';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Merriweather-Regular.woff') format('woff'), url('../fonts/Merriweather-Regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'OpenSans-Bold';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'OpenSans-Italic';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.woff2') format('woff2');
}

@font-face
{
    font-family: 'OpenSans-Light';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto-Bold';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto-Light';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto-Medium';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'Roboto-Thin';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.woff2') format('woff2');
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-decoration: none;

    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

img
{
    max-width: 100%;
    height: auto;

    vertical-align: bottom;
}

.container
{
    max-width: 1150px;
    margin: 0 auto;
}

h2
{
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;

    color: #fff;
}

h4
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;

    text-transform: uppercase;

    color: #feb960;
}

span
{
    color: #f7ac53;
}

button,
a
{
    cursor: pointer;
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    opacity: 1;
}

button:hover,
a:hover
{
    opacity: .5;
}

@-webkit-keyframes fadeProject
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeProject
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadeModal
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeModal
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadeTestimonials
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeTestimonials
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadeTeam
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fadeTeam
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.vertical-line
{
    width: 1px;
    height: 125px;
    margin: 0 auto;

    background-color: #feb960;
}

.startpage
{
    background-image: url(..\img\background\startpage_bg.png);
}

.startpage__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.startpage__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 750px;
    margin: 0 auto;
    padding: 270px 0;

    text-align: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.startpage__header h1
{
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 400;
    line-height: 90px;

    padding: 55px;

    color: #fff;
    border-right: 1px solid rgba(143, 143, 143, .49);
    border-bottom: 1px solid rgba(143, 143, 143, .49);
}

.startpage__header h4
{
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 400;
    line-height: 90px;

    padding: 30px;

    text-transform: uppercase;

    color: #fff;
}

.startpage__intouch
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 40px 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.startpage__intouch h4
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;

    text-transform: uppercase;

    color: #fff;
}

.services
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    background-color: #202020;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.services__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 25px 0 150px 0;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.services__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 110px;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.services__info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.services__element
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 20px 50px;

    text-align: left;

    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.services__element h3
{
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
    line-height: 65px;

    color: #fff;
}

.services__element p
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;

    margin-bottom: 10px;

    color: #bbb;
}

.services__element a
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;

    width: 105px;

    text-transform: uppercase;

    color: #fff;
}

.project
{
    background-color: #181818;
}

.project__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 150px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.project__header
{
    z-index: 3;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.project__header h1
{
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;

    z-index: 5;

    margin-bottom: 30px;

    color: #fff;
}

.project__gallery
{
    z-index: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 950px;
}

.project__carousel
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: -15%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
        flex: 1 1;
}

.project__list
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project__item
{
    position: relative;

    display: none;

    height: 600px;

    -webkit-animation-name: fadeProject;
            animation-name: fadeProject;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
}

.project__item.active
{
    display: block;
}

.project__slider
{
    position: absolute;
    z-index: 4;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 80px;
    height: 100%;

    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: 0;
    background-color: black;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project__slider.next
{
    right: 0;
}

.project__slider.prev
{
    left: 0;
}

.project__slider span
{
    font-size: 350%;
    font-weight: 1000;

    color: white;
}

.project__slider:hover
{
    cursor: pointer;
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: .4;
}

.project__status
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 10px auto;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project__dot
{
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
    line-height: 65px;

    width: 50px;
    height: 1px;
    margin: 20px;

    cursor: pointer;
    -webkit-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    color: #5c5c5c;
    background-color: gray;
}

.project__dot.active
{
    background-color: white;
}

.project__options
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 65px;
    margin-left: 25px;

    white-space: nowrap;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.project__options .vertical-line
{
    margin: 0;
}

.project__options h4
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
}

.project__modal-item
{
    z-index: 6;

    display: none;

    -webkit-animation-name: fadeModal;
            animation-name: fadeModal;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

.project__modal-item.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project__modal-bg
{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: .7;
    background-color: black;
}

.project__modal-info
{
    position: relative;
    position: fixed;
    z-index: 6;
    top: 10%;
    left: 15%;

    display: block;
    overflow-y: auto;

    max-width: 70%;
    max-height: 90vh;
    margin: 0 auto;
    padding: 20px 35px;

    color: gray;
    border-radius: 25px;
    background-color: black;
}

.project__modal-info img
{
    float: right;

    width: 40%;
    height: 30%;
    padding: 0 15px 20px 15px;
}

.project__close-modal
{
    font-size: 20px;

    position: absolute;
    top: 25px;
    right: 25px;

    cursor: pointer;

    color: white;
}

.testimonials
{
    background-color: #202020;
}

.testimonials__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 25px 0 125px 0;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.testimonials__header
{
    margin-bottom: 110px;
}

.testimonials__companies
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 100px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.testimonials__reviews
{
    position: relative;

    max-width: 750px;
    margin: 0 auto 45px auto;
}

.testimonials__item
{
    z-index: 3;

    display: none;
        flex-direction: column;

    padding: 0 9% 3%;

    -webkit-animation-name: fadeTestimonials;
            animation-name: fadeTestimonials;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    text-align: center;

    background-color: #181818;
    -webkit-box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, .3);
            box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, .3);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.testimonials__item p
{
    font-family: Merriweather;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;

    margin: 45px 0;

    color: #bbb;
}

.testimonials__item.active
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.testimonials__slider
{
    font-size: 50px;
    font-weight: 1000;

    position: absolute;
    z-index: 4;
    top: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100%;
    padding: 0 15px;

    cursor: pointer;
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: .6;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonials__slider:hover
{
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}

.testimonials__slider.prev
{
    left: 0;
}

.testimonials__slider.next
{
    right: 0;
}

.testimonials__author
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.testimonials__author span
{
    width: 30%;
    height: 1px;

    background-color: #474747;
}

.testimonials__fio
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0 40px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.testimonials__fio h4
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;

    text-transform: uppercase;

    color: #feb960;
}

.testimonials__fio h5
{
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;

    color: #fff;
}

.testimonials__status
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0 auto;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.testimonials__dot
{
    font-family: Merriweather;
    font-size: 30.1px;
    font-weight: 400;
    line-height: 65px;

    margin: 0 23px;

    cursor: pointer;
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    color: #5c5c5c;
}

.testimonials__dot.active
{
    color: white;
}

.team
{
    background-color: #181818;
}

.team__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 25px 0 125px 0;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.team__header
{
    margin-bottom: 110px;
}

.team__persons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border-collapse: collapse;

    border-color: transparent;
    outline: 2px solid #474747;
    outline-offset: -2px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.team__element
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    height: auto;
    max-height: auto;
    padding: 5% 6.5% 8%;

    text-align: center;

    border: 1px solid #474747;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
        flex: 1 1 25%;
}

.team__element:hover
{
        flex-direction: column;

    padding: 15px;

    -webkit-animation-name: fadeTeam;
            animation-name: fadeTeam;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.team__element:hover .team__fio
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.team__element:hover .team__fio img
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 50px;
    min-width: 40px;
    height: 50px;
}

.team__element:hover .team__inf
{
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;

    display: block;

    height: auto;

    text-align: left;

    opacity: 1;
    color: #bababa;
}

.team__element:hover .team__position
{
    display: block;
        flex-direction: column;

    margin-bottom: 5px;
    margin-left: 5%;

    text-align: left;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.team__fio
{
        flex-direction: column;

    text-align: center;
    white-space: nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.team__fio img
{
    width: 120px;
    margin-bottom: 5px;
}

.team__fio h4
{
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;

    text-transform: uppercase;

    color: #feb960;
}

.team__fio h6
{
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;

    color: #fff;
}

.team__inf
{
    font-family: OpenSans;
    font-size: 0;
    font-weight: 0;
    line-height: 0;

    z-index: 1;

    display: none;

    color: #181818;
}

.contact
{
    background-color: rgba(35, 35, 35, .9);
}

.contact__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 25px 0 125px 0;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact__header
{
    margin-bottom: 110px;
}

.contact__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 750px;
    margin: 0 auto;
    padding: 50px 55px;

    background-color: #181818;
    -webkit-box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, .3);
            box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, .3);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact__form h5
{
    font-family: OpenSans;
    font-size: 11px;
    font-weight: 400;
    line-height: 65px;

    margin-bottom: -60px;

    text-transform: uppercase;

    color: #feb960;
}

.contact__form input[placeholder]
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 65px;

    margin-top: 40px;

    color: #fff;
    outline: none;
}

.contact__form input[placeholder]:focus
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    border-bottom: 1px solid #feb960;
}

.contact__info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact__dataelement,
.contact__dataelement-mess
{
    width: 45%;
    min-width: none;

    text-align: left;
}

.contact__dataelement input,
.contact__dataelement-mess input
{
    width: 100%;
    max-height: 30px;
    margin-bottom: 10px;

    border-bottom: 1px solid white;
    background: none;
}

.contact__dataelement-mess
{
    width: 100%;
}

.contact__dataelement-mess input
{
    width: 100%;
}

.contact__send
{
    font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    line-height: 65px;

    margin: 40px auto 0;
    padding: 0 9%;

    text-transform: uppercase;

    color: #232323;
    border: 0;
    background-color: #feb960;
}

.contact__send:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    opacity: .6;
}

.footer
{
    background-color: rgba(35, 35, 35, .9);
}

.footer__body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 750px;
    padding: 90px 0 60px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__logo
{
    margin: 0 30px 30px 30px;
}

.footer__contact,
.footer img
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 5px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer__contact h4,
.footer img h4
{
    margin-bottom: 10px;
}

.footer__contact p,
.footer img p
{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;

    margin-bottom: 20px;

    text-transform: none;

    color: #bababa;
}

@media (max-width: 1367px)
{
    .container
    {
        max-width: 1100px;
    }

    .startpage__header
    {
        padding: 180px 0 160px;
    }
}

@media (max-width: 1150px)
{
    .container
    {
        max-width: 970px;
    }

    .startpage__header
    {
        padding: 270px 0;
    }

    .team__body
    {
        padding-bottom: 60px;
    }

    .project__carousel
    {
        width: 50%;
    }
}

@media (max-width: 992px)
{
    .container
    {
        max-width: 750px;
    }

    .startpage__header
    {
        padding: 235px 0 150px;
    }

    .project__body
    {
        padding: 0 0 50px 0;
    }

    .project__gallery
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        text-align: center;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .project__carousel
    {
        width: 80%;
        margin: 0 auto;
    }

    .project__options div
    {
        display: none;
    }
}

@media (max-width: 767px)
{
    .container
    {
        max-width: none;
        padding: 0 20px;
    }

    .vertical-line
    {
        height: 85px;
    }

    .startpage__header
    {
        padding: 150px 0;
    }

    .startpage__header h1
    {
        font-size: 30px;
        line-height: 60px;
    }

    .startpage__header h4
    {
        font-size: 13px;

        padding: 20px;
    }

    .services__header h2
    {
        font-size: 30px;
        line-height: 55px;
    }

    .project__body
    {
        padding: 0 30px 100px 30px;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .project__gallery
    {
            flex-direction: column;

        text-align: center;
        text-align: center;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    }

    .project__slider
    {
        font-size: 16px;

        width: 70px;
    }

    .project__carousel
    {
        width: 90%;
        margin: 0 auto;
    }

    .project__part
    {
        font-size: 20px;

        padding: 10px;
    }

    .project__options
    {
        margin-bottom: 0;
        margin-left: 0;

        white-space: pre-wrap;
    }

    .project__options .vertical-line
    {
        display: none;
    }

    .project__options h4
    {
        line-height: 12px;
    }

    .testimonials__body
    {
        padding-bottom: 60px;
    }

    .testimonials__header
    {
        padding: 0 30px;
    }

    .testimonials__quote
    {
        margin: 0 auto 0;
    }

    .testimonials__part
    {
        font-size: 20.1px;

        padding: 0 10px;
    }

    .testimonials__companies img
    {
        margin: 30px;
    }

    .team__body
    {
        padding-bottom: 60px;
    }

    .contact__form
    {
        padding: 30px;
    }

    .contact__dataelement
    {
        width: 100%;
    }

    .footer__body
    {
        padding: 60px 20px;
    }

    .footer__contact
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

@media (max-width: 576px)
{
    h2
    {
        font-family: Merriweather;
        font-size: 30px;
        font-weight: 400;
        line-height: 55px;

        color: #fff;
    }

    h4
    {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 600;
        line-height: 40px;

        text-transform: uppercase;

        color: #feb960;
    }

    .vertical-line
    {
        height: 60px;
    }

    .startpage__header
    {
        padding: 80px 0;
    }

    .startpage__header h1
    {
        font-size: 25px;
        line-height: 55px;
    }

    .startpage__header h4
    {
        font-size: 12px;

        padding: 10px;
    }

    .project__header
    {
        margin-bottom: 10px;
    }

    .project__header h1
    {
        font-size: 40px;

        margin: 0;
    }

    .project__slider
    {
        font-size: 13px;

        width: 50px;
    }

    .project__dot
    {
        width: 35px;
        margin: 15px;
    }

    .project__item
    {
        height: auto;
    }

    .project__modal-info
    {
        top: 4%;
        left: 5%;

        max-width: 90%;

        text-align: left;
    }

    .project__modal-info img
    {
        float: none;

        width: 100%;
        height: 80%;
        margin: 0;
        padding: 0 0 20px 0;
    }

    .testimonials__item
    {
        padding: 0 22% 5%;
    }

    .testimonials__slider
    {
        font-size: 30px;
    }

    .testimonials__dot
    {
        font-size: 18px;

        margin: 0 15px;
    }

    .testimonials p
    {
        font-size: 14px;

        margin: 30px 0;
    }

    .testimonials__fio
    {
        margin: 0 20px;
    }

    .testimonials__author span
    {
        display: none;
    }

    .testimonials__header,
    .services__header,
    .team__header,
    .contact__header
    {
        margin-bottom: 70px;
    }
}
@supports (-webkit-appearance:none)
{
    .startpage
    {
        background-image: url(..\img\background\startpage_bg.webp);
    }
}

@media (max-width: 1367px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 1150px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 992px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 767px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 576px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
